@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    overflow: auto;
}


.header{
    background-color: #1f2936;
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    justify-content: space-around;
}

.header-logo{
    padding: 12px;
}

.header-links{
    color: #e5e7eb;
    font-size: 16px;
    padding: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

a{
    color: inherit;
    text-decoration: none;
}

.header-link{
    margin: 8px;
}


.hero{
    background-color: #1f2936;
    color: #F9FAF8;
    display: flex;
    justify-content: center ;
    padding-top: 128px;
    padding-left: 6px;
    gap: 48px;
}

.main-text-hero{
    font-size: 48px;
    font-weight: bold;
}

.left-info-hero{
    width: 450px;
    height: 450px;
    
}

.secondary-text-hero{
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;

}


.sign-up button{
    background-color: #3882f6;
    width: 128px;
    height: 38px;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    border: none; 
}

.sign-up{
    padding-top: 12px;
}

.image-hero{
    background-color:  #6e7b85;
    width: 500px;
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-information{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #1f2937;
    padding-bottom: 48px;
    padding-top: 48px;
    font-weight: 700;
}

.information{
    display: flex;
    justify-content: center;
    gap: 48px;
    height: 300px;
}

.block-image{
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 16px;
}

.text-block-image{
    text-align: center;
    width: 200px;
    font-size: 16px;
    margin-top: 10px;
    color: #6e7b85;
    font-weight: 500;

}



.block-quote{
    background-color: #e5e7eb;
    height: 500px;
    font-weight: 300;
    font-style: italic;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; 
    box-sizing: border-box;

}

.autor-quote > p{
    font-style: normal;
    font-size: 24px;
    color: #1f2937;
    font-weight: bold;
    padding-left: 348px;
    padding-top: 32px;
}

.text-quote{
    width: 800px;
    height: 200px;
    padding-top: 64px;
}


.signup-block{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.call-to-action{
    background-color: #3882f6;
    width: 1300px;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    color: #F9FAF8;
}

.text-signup-block{
    padding-right: 100px;
}

.text-signup-block > h4{
    font-size: 24px;
}
.text-signup-block > p{
    font-size: 20px;
    font-weight: 300;
}

.sign-up-action{
    background-color: #3882f6;
    width: 138px;
    height: 44px;
    font-weight: bold;
    font-size: 18px;
    border: 3px solid #F9FAF8;
    border-radius: 8px;
    color: #F9FAF8;
}


footer{
    background-color: #1f2936;
    color: #F9FAF8;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

footer > p{
    font-size: 18px;
}




